parameters:
  onlyPullRequests: false

steps:
- script: |
    python -m pip install electrumsv-secp256k1 pycryptodomex py-asqlite3
    python -m pip install flake8
    python -m pip install coveralls coverage
    python -m pip install pytest
  displayName: Prepare general environment
  condition: |
    and(
      succeeded(),
      or(
        eq(variables['Build.Reason'], 'PullRequest'),
        eq(${{ parameters.onlyPullRequests }}, false)
      )
    )
  enabled: true
  continueOnError: false
  failOnStderr: false
